{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{%
  set frontlink = path('<front>')
%}
{% block content %}
  {% if site_logo %}
    <div class="pull-left">
      {% if is_front == false %}
      <a class="logo navbar-btn" href="{{ frontlink }}" title="{{ 'Home'|t }}" rel="home">
      {% endif %}
      <img src="/themes/custom/icad/images/Logo_jidentifiemonanimalfr_goldpencil.png" alt="">
      {% if is_front == false %}
      </a>
      {% endif %}
    </div>
    <div class="pull-right">
      <a class="pull-left" href="https://www.i-cad.fr/" target="_blank">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
      <a href="https://agriculture.gouv.fr/" target="_blank"><img src="/themes/custom/icad/images/logo_ministere.png" alt=""></a>
    </div>
  {% endif %}
{% endblock %}
